.cart{
    position: sticky;
    top: 10px;
}
.cart h4 {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #1C2B35;
}

.order-info {
    padding: 23px;
}

.order-info p {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.005em;
    color: #2A414F;
    margin-bottom: 25px;
}
/* .btn-group {

} */